/* font-sizes */
.px16 {
    font-size: 16px;
}
.px24 {
    font-size: 24px;
}
.px24center {
    font-size: 24px;
    text-align: center;
}
.px32 {
    font-size: 32px;
}
.px32centerborder {
    font-size: 32px;
    text-align: center;
    border-bottom: 3px solid black;
}
.px32center {
    font-size: 32px;
    text-align: center;
}
.px48{
    font-size: 48px;
}
.px48centerborder {
    text-align: center;
    font-size: 48px;
    border-bottom: 3px solid black;
}
.px64 {
    font-size: 64px;
}
/* paragraphs */
.para1 {
    color: black;
    font-size: 24px;
    line-height: 24px;
    background-color: grey;
    padding: 20px;
    border-color: solid black;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
    background-image: url(../images/water.jpg);
}
.para2 {
    color: black;
    font-size: 32px;
    line-height: 24px;
    background-color: grey;
    padding: 20px;
    border-color: solid black;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
    background-image: url(../images/water.jpg);
    text-align: center;
}
/* backgrounds */
.backgroundimage1 {
    background-image: url(../images/water.jpg);
}
.backgroundimage2 {
    background-image: url(../images/Trees.webp);
}
/* images */
.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Border */
.border {
    border-bottom: 3px solid black;
    margin: 0px 0px 0px 0px;
}
/* Tiltes */
.title {
    font-size: 48px;
    text-align: center;
    border-bottom: 3px solid black;
}
.titleeducation {
    font-size: 48px;
    text-align: center;
    border-bottom: 3px solid black;
    border-top: 20px solid lime;
    margin: 20px -8px 0px -8px;
}
.titlehome {
    font-size: 48px;
    text-align: center;
    border-bottom: 3px solid black;
    border-top: 20px solid yellow;
    margin: 20px -8px 0px -8px;
}
.titlemilf {
    font-size: 48px;
    text-align: center;
    border-bottom: 3px solid black;
    border-top: 20px solid pink;
    margin: 20px -8px 0px -8px;
}
.titleminecraft {
    font-size: 48px;
    text-align: center;
    border-bottom: 3px solid black;
    border-top: 20px solid brown;
    margin: 20px -8px 0px -8px;
}
/* categories */
.categories {
    font-size: 32px;
    border-bottom: 3px solid black;
    text-align: 0px 16px 0px 8px;
}
/* support tab*/
.support {
    font-size: 24px;
}
.supporttitle {
    font-size: 32px;
}